/* nav */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #144272;
  display: flex;              /* Включаем flexbox */
  flex-direction: column;     /* Элементы располагаются вертикально */
  min-height: 100vh;          /* Минимальная высота — весь экран */
}

.navbar {
  width: 100%;
  background-color: #0A2647;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo {
  color: aquamarine;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #2C74B3; /* подсветка при наведении */
}

.auth-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 8px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.btn-signin {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn-signin:hover {
  background: rgba(255,255,255,0.1);
}

.btn-signup {
  background: #2C74B3;
  color: #fff;
  border: none;
}

.btn-signup:hover {
  background: #205295;
}

/* social */
.social-container {
  display: flex;
  flex-direction: column; /* заголовок сверху, иконки снизу */
  align-items: center;
  justify-content: center;
  background-color: #205295;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  margin-top: auto;           /* Прижимает к низу */
}

.social-container h2 {
  margin-bottom: 12px; /* отступ между заголовком и иконками */
  font-size: 20px;
  color: aquamarine;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px; /* расстояние между иконками */
}

.social-links a {
  display: inline-block;
}

.social-links a img {
  width: 32px;   /* фиксированный маленький размер */
  height: 32px;
  transition: transform 0.3s, filter 0.3s;
}

.social-links a img:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 5px #2C74B3);
}